@model ZavenDotNetInterview.Core.Models.JobViewModel

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<table class="table">
    <tr>
        <th>
            Logs
        </th>
    </tr>
    @foreach(var item in Model.Logs)
    {
        <tr>
            <td>@item.CreatedAt : @item.Description</td>
        </tr>
    }
</table>